{% extends "base.html" %}

{% block title %}Mes formations{% endblock %}

{% block content %}
  <h1>Mes formations</h1>
  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
          <a href="{% url "course_edit" course.id %}">Editer</a>
          <a href="{% url "course_delete" course.id %}">Supprimer</a>
          <a href="{% url "course_module_update" course.id %}">Editer les modules</a>
          {% if course.modules.count > 0 %}
            <a href="{% url "module_content_list" course.modules.first.id %}">
            Gérer le contenu</a>
          {% endif %}
        </p>
      </div>
    {% empty %}
      <p>Vous n'avez pas encore créé de cours.</p>
    {% endfor %}
    <p>
      <a href="{% url "course_create" %}" class="button">Créer un nouveau cours</a>
    </p>
  </div>
{% endblock %}
